*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 5%;
    justify-content: space-evenly;
    font-family: sans-serif;
}

figure{
    width: 20%;
}

img{
    width: 100%;
}

img, h1, figure{
    margin-bottom: 5%;
}

figcaption{
    text-align: center;
}

h1{
    font-size: 2rem;
}

a{
    color: white;
    text-decoration: none;
    padding: 2% 3%;
    background: tomato;
    border-radius: 5px;
}